*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    transition : 100ms all;
}

body {
    text-align : right;
    font-size: xx-large;
    background-color: #13293D;
    color : #ffffff;
}
.container{
    padding-top : 20px;
    display: flex;
    justify-content: center;
}
.calc-body{
    max-width: 800px;
    min-width: 400px;
    background-color: #ffffff;
    display : flex;
    gap : 5px;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 2px 1px black;

}
#logo{
    color : #2A628F;
    align-self: center;
    font-weight: 700;
    font-size:large;
}
.screen{
    background-color: #2A628F;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px black;
}
.history{
    background-color: #2A628F;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.item{
    border-top : 0px;
    color : #ffffff;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    border-bottom: 2px solid black;
    box-shadow: 0 2px black;
    border-top: 0;
}
img {
    height: 20px;
    width: 20px;
    align-self: flex-end;
}
.buttons{
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.btn{
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #16324F;
    box-shadow: 0 2px 2px 1px black;
    transition: 100ms all;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0 2px 0px 0px black;
}
#clear {
    background-color: rgba(255, 0, 0, 0.829);
}
.operator{
    background-color: #2A628F;
}
.error { 
    color : red
}

.hide{
    display: none;
}